.post-summary h2 {
  font-size: 3rem;
  color: #53384c;
}

.post-summary h2 a:focus,
.post-summary h2 a:hover {
  color: #990066;
  transition: color 0.3s ease;
}

.post-summary .post-excerpt,
.post-summary .post-content {
  font-size: 1.8rem;
  line-height: 1.7;
}
