:root {
  --site-width: 98rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: var(--site-width);
  margin: 0 auto;
}
.heading {
  font-size: 3rem;
}
